### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [32]:
#Display the total number of players
players = len(purchase_data_df["SN"].value_counts())
total_players_df = pd.DataFrame([players], columns = ["Total Players"])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
#Find the number of unique items and set in variable
num_unique_items = len(purchase_data_df["Item Name"].unique())

#Find the average price and set in variable
average_price = purchase_data_df["Price"].mean()

#Find the total number of purchases and set in variable
total_purchases = len(purchase_data_df["Item Name"])

#Find the total revenue and set in variable
total_revenue = purchase_data_df["Price"].sum()

#Create a new dataframe for the purchasing summary
purchasing_analysis_summary_df = pd.DataFrame({"Number of Unique Items": [num_unique_items], "Average Price": [average_price],
                                           "Number of Purchases": [total_purchases],"Total Revenue": [total_revenue]})

#format the currency values with $ and to two decimal places
purchasing_analysis_summary_df["Average Price"] = purchasing_analysis_summary_df["Average Price"].apply('${:,.2f}'.format)
purchasing_analysis_summary_df["Total Revenue"] = purchasing_analysis_summary_df["Total Revenue"].apply('${:,.2f}'.format)

#Display summary
purchasing_analysis_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [144]:
#Create a gender dataframe and add counts and percentage columns
gender_data_df = purchase_data_df.drop_duplicates(subset=["SN"], keep="first")
gender_data_df["Gender"].value_counts()
gender_demographics = gender_data_df["Gender"].value_counts()
gender_demographics_per = gender_demographics/players

#Add columns for Total Count and Gent=der Percentage
gender_df = pd.DataFrame({"Total Count": gender_demographics, "Gender Percentage": gender_demographics_per})

#Format the percentage column
gender_df["Gender Percentage"] = gender_df["Gender Percentage"].apply('{:,.2%}'.format)

#Display summary
gender_df

                       Total Count Gender Percentage
Male                           484            84.03%
Female                          81            14.06%
Other / Non-Disclosed           11             1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [159]:

# Group by Gender
gender_group_df = purchase_data.groupby(["Gender"])

#Assign variable values
num_purchases = gender_group_df["Purchase ID"].count()
avg_purchase_price = gender_group_df["Price"].mean()
total_value = gender_group_df["Price"].sum()
avg_total_value = total_value/ gender_df["Total Count"]


#Add columns for Purchase Count, Average Purchase Price, Total Purchase Price and Avg Total Purchase per Person
gender_group_data_df = pd.DataFrame({
    "Purchase Count": num_purchases, 
    "Average Purchase Price": avg_purchase_price, 
    "Total Purchase Value":total_value, 
    "Avg Total Purchase per Person": avg_total_value
    })


#format the currency values with $ and to two decimal places
gender_group_data_df["Average Purchase Price"] = gender_group_data_df["Average Purchase Price"].apply('${:,.2f}'.format)
gender_group_data_df["Total Purchase Value"] = gender_group_data_df["Total Purchase Value"].apply('${:,.2f}'.format)
gender_group_data_df["Avg Total Purchase per Person"] = gender_group_data_df["Avg Total Purchase per Person"].apply('${:,.2f}'.format)

#Display summary
gender_group_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [161]:
# Establish bins for ages
age_bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 99.9]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#database for age Demo
gender_data_df["Age Demographics"]= pd.cut(gender_data_df["Age"], age_bins, labels=age_labels)
age_group_df =gender_data_df.groupby("Age Demographics")
total_players = gender_data_df.shape[0]
purchase_count = age_group_df.count()["Purchase ID"]
percentage_players = purchase_count/total_players

#Add columns for Total Count and Percentage of Players
age_demo_df = pd.DataFrame({"Total Count": purchase_count, "Percentage of Players": percentage_players})

#Format the percentage column
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].apply('{:,.2%}'.format)

#Display summary
age_demo_df

                  Total Count Percentage of Players
Age Demographics
<10                        17                 2.95%
10-14                      22                 3.82%
15-19                     107                18.58%
20-24                     258                44.79%
25-29                      77                13.37%
30-34                      52                 9.03%
35-39                      31                 5.38%
40+                        12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame